Repository psyclr/youboost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(auth): Google OAuth service with Redis-backed CSRF state
  package-lock.json
  package.json
  src/modules/auth/__tests__/auth-google.service.test.ts
  src/modules/auth/auth-google.service.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(auth): GET /auth/google + /auth/google/callback redirect routes
  src/modules/auth/__tests__/auth.google.routes.test.ts
  src/modules/auth/__tests__/auth.routes.test.ts
  src/modules/auth/auth.routes.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(auth): wire Google OAuth service into composition root
  src/app.ts
  src/composition/register-routes.ts
  src/modules/admin/__tests__/fakes.ts
  src/modules/auth/index.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(auth): harden Google OAuth — takeover guard, login-CSRF nonce, fail-fast, races
  docker-compose.yml
  package-lock.json
  package.json
  src/modules/auth/__tests__/auth-google.service.test.ts
  src/modules/auth/__tests__/auth.google.routes.test.ts
  src/modules/auth/__tests__/auth.service.google.test.ts
  src/modules/auth/__tests__/user.repository.test.ts
  src/modules/auth/auth-google.service.ts
  src/modules/auth/auth.routes.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/user.repository.ts
  src/modules/auth/utils/username.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

refactor(frontend): wave 2 review fixes — admin RHF forms, content extraction, marketing cluster
  frontend/src/app/(admin)/admin/coupons/page.tsx
  frontend/src/app/(admin)/admin/docs/page.tsx
  frontend/src/app/(admin)/admin/landings/[landingId]/page.tsx
  frontend/src/app/(admin)/admin/landings/new/page.tsx
  frontend/src/app/(admin)/admin/landings/page.tsx
  frontend/src/app/(admin)/admin/providers/page.tsx
  frontend/src/app/(admin)/admin/referrals/page.tsx
  frontend/src/app/(admin)/admin/services/page.tsx
  frontend/src/app/(dashboard)/billing/deposit/page.tsx
  frontend/src/app/(dashboard)/guide/page.tsx
  frontend/src/components/admin/service-form.tsx
  frontend/src/components/docs/doc-primitives.tsx
  frontend/src/components/marketing/cart-item.tsx
  frontend/src/components/marketing/hero.tsx
  frontend/src/components/marketing/order-cart.tsx
  frontend/src/components/marketing/service-tiers.tsx
  frontend/src/components/marketing/site-header.tsx
  frontend/src/content/admin-docs.tsx
  frontend/src/content/guide.tsx
  frontend/src/lib/landings/calculator.ts
  frontend/src/lib/landings/hero-link.ts
  frontend/src/lib/payments/__tests__/checkout-host.test.ts
  frontend/src/lib/payments/checkout-host.ts
  frontend/src/lib/validation/admin-forms.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

refactor(frontend): wave 3 review fixes — query-key factory, getErrorMessage, stricter TS
  frontend/src/app/(admin)/admin/coupons/page.tsx
  frontend/src/app/(admin)/admin/deposits/page.tsx
  frontend/src/app/(admin)/admin/landings/[landingId]/page.tsx
  frontend/src/app/(admin)/admin/landings/new/page.tsx
  frontend/src/app/(admin)/admin/landings/page.tsx
  frontend/src/app/(admin)/admin/orders/page.tsx
  frontend/src/app/(admin)/admin/page.tsx
  frontend/src/app/(admin)/admin/providers/page.tsx
  frontend/src/app/(admin)/admin/referrals/page.tsx
  frontend/src/app/(admin)/admin/services/page.tsx
  frontend/src/app/(admin)/admin/support/[id]/page.tsx
  frontend/src/app/(admin)/admin/support/page.tsx
  frontend/src/app/(admin)/admin/users/[id]/page.tsx
  frontend/src/app/(admin)/admin/users/page.tsx
  frontend/src/app/(auth)/forgot-password/page.tsx
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/(auth)/reset-password/page.tsx
  frontend/src/app/(auth)/verify-email/page.tsx
  frontend/src/app/(dashboard)/billing/page.tsx
  frontend/src/app/(dashboard)/billing/transactions/page.tsx
  frontend/src/app/(dashboard)/orders/[id]/page.tsx
  frontend/src/app/(dashboard)/orders/bulk/page.tsx
  frontend/src/app/(dashboard)/orders/new/page.tsx
  frontend/src/app/(dashboard)/orders/page.tsx
  frontend/src/app/(dashboard)/referral/page.tsx
  frontend/src/app/(dashboard)/settings/page.tsx
  frontend/src/app/(dashboard)/support/[id]/page.tsx
  frontend/src/app/(dashboard)/support/page.tsx
  frontend/src/hooks/use-balance.ts
  frontend/src/hooks/use-catalog.ts
  frontend/src/hooks/use-orders.ts
  frontend/src/lib/__tests__/query-keys.test.ts
  frontend/src/lib/api/__tests__/error-messages.test.ts
  frontend/src/lib/api/error-messages.ts
  frontend/src/lib/landings/calculator.ts
  frontend/src/lib/query-keys.ts
  frontend/tsconfig.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(frontend): eslint size/complexity budget (finding #15)
  frontend/eslint.config.mjs
Due: none

docs: test strategy — user-journey lens
  TEST_STRATEGY.md
Due: prettier --write

fix(auth,notifications): deliver auto-registration email + consistent account state
  src/composition/outbox-handlers.ts
  src/modules/auth/__tests__/auth.service.test.ts
  src/modules/auth/__tests__/user.repository.test.ts
  src/modules/auth/auth-auto-user.service.ts
  src/modules/auth/user.repository.ts
  src/modules/notifications/__tests__/auto-user-setup-email.handler.test.ts
  src/modules/notifications/handlers/auto-user-setup-email.handler.ts
  src/modules/notifications/index.ts
  src/modules/notifications/utils/email-templates.ts
  src/shared/outbox/events.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(auth): integration test for guest auto-registration email flow
  src/modules/auth/__tests__/auto-registration-email.flow.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(billing): real-DB settlement integration (webhook -> balance)
  src/modules/billing/__tests__/settlement.integration.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(skills): add database-operations project skill
  .claude/skills/database-operations/SKILL.md
Due: prettier --write

feat(auth): make POST /login rate limit env-configurable
  src/app.ts
  src/composition/register-routes.ts
  src/modules/auth/__tests__/auth.google.routes.test.ts
  src/modules/auth/__tests__/auth.routes.test.ts
  src/modules/auth/auth.routes.ts
  src/shared/config/env.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: dev backend runs with high LOGIN_RATE_LIMIT_MAX for e2e
  CLAUDE.md
Due: prettier --write

docs: add TODO with target landing page layout
  TODO.md
Due: prettier --write

docs(todo): add Yandex.Metrika integration task
  TODO.md
Due: prettier --write

test(billing): real-DB order-payment settlement integration
  src/modules/billing/__tests__/order-payment-settlement.integration.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(payments): PAYMENTS_FAKE seam for isolated checkout e2e
  src/app.ts
  src/composition/__tests__/landings-adapters.test.ts
  src/composition/landings-adapters.ts
  src/shared/config/env.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(e2e): isolated Dockerized stack for real-backend e2e
  docker-compose.test.yml
  frontend/.gitignore
  frontend/e2e/landing-cart-checkout.spec.ts
  frontend/next.config.ts
  scripts/e2e-stack.sh
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: document isolated e2e stack + test-DB tiers
  CLAUDE.md
Due: prettier --write

test(e2e): real-backend logged-in order creation on the isolated stack
  docker-compose.test.yml
  frontend/e2e/orders-create.spec.ts
  prisma/seed.ts
  scripts/e2e-stack.sh
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(todo): add CLAUDE.md refresh task
  TODO.md
Due: prettier --write

test(e2e): thin redundant guards + presence; fix skip + teardown
  frontend/e2e/billing-deposit.spec.ts
  frontend/e2e/landing-cart-checkout.spec.ts
  frontend/e2e/landing-cart.spec.ts
  frontend/e2e/orders-bulk.spec.ts
  frontend/e2e/orders-create.spec.ts
  frontend/e2e/orders-new.spec.ts
  scripts/e2e-stack.sh
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(e2e): visual-regression foundation (order cart panel)
  frontend/e2e/visual.spec.ts
  frontend/e2e/visual.spec.ts-snapshots/order-panel-with-item-chromium-linux.png
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(frontend): Yandex.Metrika counter (id 109942271)
  frontend/src/app/layout.tsx
  frontend/src/components/analytics/yandex-metrika.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(e2e): tsc errors in real-backend specs (closure capture narrowed to never)
  frontend/e2e/landing-cart-checkout.spec.ts
  frontend/e2e/orders-create.spec.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs: refresh CI line in CLAUDE.md; update TODO statuses
  CLAUDE.md
  TODO.md
Due: prettier --write

feat(landing): put the calculator directly under the hero
  TODO.md
  frontend/src/components/marketing/landing-page-view.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(analytics): cart + checkout-intent events (Yandex.Metrika)
  frontend/src/components/marketing/order-cart.tsx
  frontend/src/lib/analytics.ts
  frontend/src/lib/landings/use-cart.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

ci: self-hosted GitHub Actions pipeline (verify + deploy on push)
  .github/workflows/deploy.yml
  scripts/deploy.sh
Due: none

fix(landing): mobile hero — align stats, hide overflowing 3D image
  frontend/src/components/marketing/hero.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

ci: non-destructive deps in pipeline (npm install, not npm ci)
  scripts/deploy.sh
Due: none

feat(auth): redesign registration — fast email + password sign-up
  frontend/e2e/auth-register.spec.ts
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/lib/api/types.ts
  src/modules/auth/__tests__/auth.service.test.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/auth.types.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

refactor(auth): extract profile service to keep auth.service under line budget
  src/modules/auth/auth-profile.service.ts
  src/modules/auth/auth.service.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(analytics): server-side purchase + deposit conversions to Yandex.Metrika
  docker-compose.yml
  frontend/src/app/(dashboard)/billing/deposit/page.tsx
  frontend/src/components/marketing/order-cart.tsx
  frontend/src/lib/analytics.ts
  frontend/src/lib/api/billing.ts
  frontend/src/lib/api/types.ts
  prisma/migrations/20260620000000_add_metrika_client_id/migration.sql
  prisma/schema.prisma
  scripts/deploy.sh
  src/app.ts
  src/composition/outbox-handlers.ts
  src/modules/admin/__tests__/fakes.ts
  src/modules/analytics/__tests__/conversion.handlers.test.ts
  src/modules/analytics/__tests__/yandex-metrika.client.test.ts
  src/modules/analytics/handlers/conversion.handlers.ts
  src/modules/analytics/index.ts
  src/modules/analytics/yandex-metrika.client.ts
  src/modules/auth/__tests__/auto-registration-email.flow.test.ts
  src/modules/billing/__tests__/fakes.ts
  src/modules/billing/__tests__/order-payment-settlement.integration.test.ts
  src/modules/billing/cryptomus/cryptomus.routes.ts
  src/modules/billing/cryptomus/cryptomus.service.ts
  src/modules/billing/deposit-lifecycle.service.ts
  src/modules/billing/deposit.repository.ts
  src/modules/billing/deposit.types.ts
  src/modules/billing/payment.repository.ts
  src/modules/billing/stripe/stripe.routes.ts
  src/modules/billing/stripe/stripe.service.ts
  src/modules/billing/workers/__tests__/deposit-expiry.worker.test.ts
  src/modules/landings/guest-cart-checkout.flow.ts
  src/modules/landings/landing.types.ts
  src/modules/landings/ports/guest-checkout.ports.ts
  src/modules/orders/__tests__/confirm-order-payment.flow.test.ts
  src/modules/orders/confirm-order-payment.flow.ts
  src/shared/config/env.ts
  src/shared/config/env.types.ts
  src/shared/outbox/__tests__/outbox.service.test.ts
  src/shared/outbox/events.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(security): bind postgres/redis/backend/frontend ports to 127.0.0.1
  docker-compose.yml
Due: none

feat(email): brand the transactional email template
  src/modules/notifications/utils/email-templates.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

style(email): use double quotes for FONT (eslint single-quote rule)
  src/modules/notifications/utils/email-templates.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(notifications): deliver to the user's real email, not the literal 'user-email'
  src/app.ts
  src/modules/notifications/__tests__/notification-dispatcher.test.ts
  src/modules/notifications/notification-dispatcher.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{ts,tsx}
