Repository psyclr/youboost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{json,md}": ["prettier --write"]
}

chore: add project structure, documentation, and Claude Code hooks
  .claude.md
  .claude/hooks.config.json
  .claude/hooks/on-error
  .claude/hooks/on-file-edit
  .claude/hooks/on-plan-create
  .claude/hooks/on-review-request
  .claude/hooks/on-task-complete
  .claude/hooks/on-task-start
  .claude/hooks/on-tool-use
  .claude/instructions.md
  .husky/pre-commit
  README.md
  scripts/update-claude-docs.sh
  services/auth-service/README.md
  services/billing-service/README.md
  services/notification-service/README.md
  services/order-service/README.md
  services/provider-adapter/README.md
Due: prettier --write

feat: initial project setup with MCP integrations
  .claude.md
  .claude/hooks/README.md
  .claude/hooks/config.sh
  .claude/hooks/on-error
  .claude/hooks/on-file-edit
  .claude/hooks/on-plan-create
  .claude/hooks/on-review-request
  .claude/hooks/on-task-complete
  .claude/hooks/on-task-start
  .dockerignore
  .env.example
  .gitignore
  docker-compose.yml
  docs/api/auth-service.yaml
  docs/api/billing-service.yaml
  docs/api/openapi.yaml
  docs/api/orders-service.yaml
  docs/architecture/database-schema.md
  eslint.config.js
  package-lock.json
  package.json
  prisma.config.ts
  prisma/schema.prisma
  scripts/init-db.sql
  services/auth-service/README.md
  services/billing-service/README.md
  services/notification-service/README.md
  services/order-service/README.md
  services/provider-adapter/README.md
  src/shared/utils/logger.ts
  ~$убокое исследование рынка SMM-панелей (фокус на YouTube).docx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: configure GitHub integration
  .claude.md
  .claude/hooks/config.sh
Due: prettier --write

docs: add MCP integrations setup guide
  MCP_SETUP.md
Due: prettier --write

docs: update README with GitHub repo and MCP integrations
  README.md
Due: prettier --write

docs: update .claude.md with latest README changes
  .claude.md
Due: prettier --write

chore: configure Linear integration (Team: SMM)
  .claude.md
  .claude/hooks/config.sh
  MCP_SETUP.md
  README.md
Due: prettier --write

docs: update .claude.md with Linear configuration commit
  .claude.md
Due: prettier --write

feat: implement Provider Adapter service (Phase 5)
  .claude.md
  src/app.ts
  src/modules/orders/__tests__/orders.service.test.ts
  src/modules/orders/orders.service.ts
  src/modules/providers/__tests__/provider-selector.test.ts
  src/modules/providers/__tests__/providers.middleware.test.ts
  src/modules/providers/__tests__/providers.repository.test.ts
  src/modules/providers/__tests__/providers.routes.test.ts
  src/modules/providers/__tests__/providers.service.test.ts
  src/modules/providers/__tests__/providers.types.test.ts
  src/modules/providers/index.ts
  src/modules/providers/provider-selector.ts
  src/modules/providers/providers.middleware.ts
  src/modules/providers/providers.repository.ts
  src/modules/providers/providers.routes.ts
  src/modules/providers/providers.service.ts
  src/modules/providers/providers.types.ts
  src/modules/providers/utils/__tests__/encryption.test.ts
  src/modules/providers/utils/__tests__/smm-api-client.test.ts
  src/modules/providers/utils/encryption.ts
  src/modules/providers/utils/smm-api-client.ts
  src/shared/config/__tests__/env.test.ts
  src/shared/config/env.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: implement Status Polling + Circuit Breaker (Phase 6)
  .claude.md
  package-lock.json
  package.json
  src/index.ts
  src/modules/orders/__tests__/orders.repository.test.ts
  src/modules/orders/orders.repository.ts
  src/modules/orders/utils/__tests__/circuit-breaker.test.ts
  src/modules/orders/utils/__tests__/fund-settlement.test.ts
  src/modules/orders/utils/__tests__/status-mapper.test.ts
  src/modules/orders/utils/circuit-breaker.ts
  src/modules/orders/utils/fund-settlement.ts
  src/modules/orders/utils/status-mapper.ts
  src/modules/orders/workers/__tests__/index.test.ts
  src/modules/orders/workers/__tests__/status-poll.worker.test.ts
  src/modules/orders/workers/index.ts
  src/modules/orders/workers/status-poll.worker.ts
  src/shared/config/__tests__/env.test.ts
  src/shared/config/env.ts
  src/shared/queue/__tests__/queue.test.ts
  src/shared/queue/index.ts
  src/shared/queue/queue.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: implement External API with API Keys and Webhooks (Phase 7)
  .claude.md
  src/app.ts
  src/index.ts
  src/modules/api-keys/__tests__/api-keys.middleware.test.ts
  src/modules/api-keys/__tests__/api-keys.repository.test.ts
  src/modules/api-keys/__tests__/api-keys.routes.test.ts
  src/modules/api-keys/__tests__/api-keys.service.test.ts
  src/modules/api-keys/__tests__/api-keys.types.test.ts
  src/modules/api-keys/api-keys.middleware.ts
  src/modules/api-keys/api-keys.repository.ts
  src/modules/api-keys/api-keys.routes.ts
  src/modules/api-keys/api-keys.service.ts
  src/modules/api-keys/api-keys.types.ts
  src/modules/api-keys/index.ts
  src/modules/orders/__tests__/orders.service.test.ts
  src/modules/orders/orders.service.ts
  src/modules/orders/workers/__tests__/status-poll.worker.test.ts
  src/modules/orders/workers/status-poll.worker.ts
  src/modules/webhooks/__tests__/webhook-dispatcher.test.ts
  src/modules/webhooks/__tests__/webhooks.repository.test.ts
  src/modules/webhooks/__tests__/webhooks.routes.test.ts
  src/modules/webhooks/__tests__/webhooks.service.test.ts
  src/modules/webhooks/__tests__/webhooks.types.test.ts
  src/modules/webhooks/index.ts
  src/modules/webhooks/webhook-dispatcher.ts
  src/modules/webhooks/webhooks.repository.ts
  src/modules/webhooks/webhooks.routes.ts
  src/modules/webhooks/webhooks.service.ts
  src/modules/webhooks/webhooks.types.ts
  src/shared/config/__tests__/env.test.ts
  src/shared/config/env.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: add ESLint PostToolUse hooks and streamline context files
  .claude.md
  .claude/hooks.config.legacy.json
  .claude/hooks/on-error
  .claude/hooks/on-file-edit
  .claude/hooks/on-plan-create
  .claude/hooks/on-review-request
  .claude/hooks/on-task-complete
  .claude/hooks/on-task-start
  .claude/hooks/on-tool-use
  .claude/hooks/post-edit-lint.sh
  .claude/instructions.md
Due: prettier --write

chore: remove deprecated husky v9 shim lines
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: add E2E Playwright tests for auth and admin services
  .lintstagedrc.json
  frontend/.gitignore
  frontend/e2e/admin-services.spec.ts
  frontend/e2e/auth-login.spec.ts
  frontend/e2e/auth-register.spec.ts
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/app/(admin)/admin/services/page.tsx
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/components/admin/service-form.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/popover.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: fix route duplication, async requireAdmin, and toStr number coercion
  src/modules/coupons/coupons.routes.ts
  src/modules/notifications/__tests__/notifications.routes.test.ts
  src/modules/notifications/notifications.routes.ts
  src/modules/providers/utils/smm-api-client.ts
  src/modules/support/support.routes.ts
  src/modules/tracking/tracking.routes.ts
  src/shared/swagger/paths/notifications.paths.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

refactor: remove dead code and unused exports
  frontend/src/components/ui/dialog.tsx
  frontend/src/lib/utils/sanitize.ts
  src/modules/api-keys/api-keys.service.ts
  src/modules/orders/orders.repository.ts
  src/modules/orders/service.repository.ts
  src/shared/index.ts
  src/shared/utils/logger.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: add quality gates (madge, knip) and Docker TLS fix
  .husky/pre-commit
  Dockerfile
  docker-compose.yml
  knip.json
  package-lock.json
  package.json
  scripts/quality-check.sh
Due: prettier --write

test: add backend e2e and unit tests for tracking, notifications, providers
  src/modules/tracking/__tests__/tracking.repository.test.ts
  src/modules/tracking/__tests__/tracking.routes.test.ts
  src/modules/tracking/__tests__/tracking.service.test.ts
  tests/e2e/helpers/test-db.ts
  tests/e2e/notifications.e2e.ts
  tests/e2e/providers.e2e.ts
  tests/e2e/tracking.e2e.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test: add E2E tests for forgot/reset password and dashboard
  .gitignore
  frontend/e2e/auth-forgot-password.spec.ts
  frontend/e2e/auth-reset-password.spec.ts
  frontend/e2e/dashboard.spec.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(docker): use .env as single config source, fix DATABASE_URL override
  docker-compose.yml
Due: none

fix(docker): add -d flag to pg_isready healthcheck
  docker-compose.yml
Due: none

fix(frontend): deposits page Column type and pagination prop
  frontend/src/app/(admin)/admin/deposits/page.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(frontend): show actual error on failed login instead of "Session expired"
  frontend/src/lib/api/client.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

refactor(frontend): redesign billing page — hero balance, single CTA, color badges
  frontend/src/app/(dashboard)/billing/page.tsx
  frontend/src/components/shared/balance-widget.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(billing): add Cryptomus payment gateway alongside Stripe
  .env.example
  .gitignore
  frontend/src/app/(dashboard)/billing/deposit/page.tsx
  frontend/src/lib/api/billing.ts
  knip.json
  prisma/migrations/20260505000000_add_cryptomus/migration.sql
  prisma/schema.prisma
  src/app.ts
  src/modules/billing/__tests__/billing.routes.test.ts
  src/modules/billing/__tests__/billing.service.test.ts
  src/modules/billing/__tests__/billing.types.test.ts
  src/modules/billing/__tests__/deposit.service.test.ts
  src/modules/billing/__tests__/deposit.types.test.ts
  src/modules/billing/billing.routes.ts
  src/modules/billing/billing.service.ts
  src/modules/billing/billing.types.ts
  src/modules/billing/cryptomus/__tests__/cryptomus-crypto.test.ts
  src/modules/billing/cryptomus/__tests__/cryptomus-service.test.ts
  src/modules/billing/cryptomus/__tests__/cryptomus-webhook.test.ts
  src/modules/billing/cryptomus/cryptomus.crypto.ts
  src/modules/billing/cryptomus/cryptomus.routes.ts
  src/modules/billing/cryptomus/cryptomus.service.ts
  src/modules/billing/cryptomus/index.ts
  src/modules/billing/deposit.types.ts
  src/modules/billing/providers/types.ts
  src/modules/billing/stripe/__tests__/stripe-webhook.test.ts
  src/modules/billing/utils/__tests__/payment-gateway.test.ts
  src/modules/billing/utils/payment-gateway.ts
  src/modules/billing/utils/stub-payment-gateway.ts
  src/shared/config/env.ts
  src/shared/swagger/paths/billing.paths.ts
  src/shared/swagger/schemas.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(billing): wrap Stripe deposit confirmation in transaction to prevent double credit
  docs/review/backend-review-2026-05-05.md
  src/modules/billing/deposit.repository.ts
  src/modules/billing/stripe/__tests__/stripe-service.test.ts
  src/modules/billing/stripe/stripe.service.ts
  src/modules/billing/wallet.repository.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(security): strict CORS, scrypt KDF, JWT 32-char min, bcrypt 12 rounds
  jest.config.js
  jest.env.ts
  src/app.ts
  src/modules/providers/utils/__tests__/encryption.test.ts
  src/modules/providers/utils/encryption.ts
  src/shared/config/__tests__/env.test.ts
  src/shared/config/env.ts
  tsconfig.eslint.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

refactor(billing): extract PaymentProvider abstraction, unify deposit confirm
  knip.json
  src/modules/billing/__tests__/deposit-lifecycle.service.test.ts
  src/modules/billing/cryptomus/cryptomus.service.ts
  src/modules/billing/deposit-lifecycle.service.ts
  src/modules/billing/index.ts
  src/modules/billing/providers/__tests__/registry.test.ts
  src/modules/billing/providers/registry.ts
  src/modules/billing/stripe/stripe.service.ts
  src/shared/config/env.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

refactor(queue): consolidate worker patterns via shared factory
  knip.json
  src/modules/billing/workers/deposit-expiry.worker.ts
  src/modules/notifications/notification-dispatcher.ts
  src/modules/orders/workers/__tests__/index.test.ts
  src/modules/orders/workers/drip-feed.worker.ts
  src/modules/orders/workers/index.ts
  src/modules/orders/workers/order-timeout.worker.ts
  src/modules/webhooks/webhook-dispatcher.ts
  src/shared/queue/index.ts
  src/shared/queue/queue.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

refactor(data-access): move direct Prisma calls from services to repositories
  src/modules/admin/admin-dashboard.repository.ts
  src/modules/admin/admin-dashboard.service.ts
  src/modules/api-keys/__tests__/api-keys.routes.test.ts
  src/modules/auth/__tests__/auth.middleware.test.ts
  src/modules/auth/__tests__/auth.routes.test.ts
  src/modules/auth/__tests__/auth.service.test.ts
  src/modules/auth/__tests__/token.repository.test.ts
  src/modules/auth/auth-email.service.ts
  src/modules/auth/auth.middleware.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/email-token.repository.ts
  src/modules/auth/token.repository.ts
  src/modules/billing/__tests__/billing.routes.test.ts
  src/modules/notifications/__tests__/notifications.routes.test.ts
  src/modules/orders/__tests__/orders.routes.test.ts
  src/modules/providers/__tests__/providers.routes.test.ts
  src/modules/tracking/__tests__/tracking.routes.test.ts
  src/modules/webhooks/__tests__/webhooks.routes.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests
