Repository psyclr/youboost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{json,md}": ["prettier --write"]
}

fix(orders): refund paid guest orders to wallet when the provider can't fulfill
  src/app.ts
  src/modules/billing/__tests__/order-payment-settlement.integration.test.ts
  src/modules/orders/__tests__/confirm-order-payment.flow.test.ts
  src/modules/orders/__tests__/orders.service.test.ts
  src/modules/orders/confirm-order-payment.flow.ts
  src/modules/orders/orders.service.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(email): friendly branded order-failed email that names the wallet refund
  src/modules/notifications/handlers/order-email.handler.ts
  src/modules/notifications/utils/email-templates.ts
  src/modules/orders/confirm-order-payment.flow.ts
  src/shared/outbox/events.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(orders): spec for multi-panel auto-failover + customer-shielded status
  docs/superpowers/specs/2026-06-24-order-fulfilment-failover-design.md
Due: prettier --write

feat(orders): customer-shielded order status (Phase 1)
  frontend/e2e/orders-list.spec.ts
  frontend/src/app/(dashboard)/orders/[id]/page.tsx
  frontend/src/app/(dashboard)/orders/page.tsx
  frontend/src/components/shared/customer-status-badge.tsx
  frontend/src/lib/orders/__tests__/customer-status.test.ts
  frontend/src/lib/orders/customer-status.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(orders): implementation plan for multi-panel auto-failover (Phase 2)
  docs/superpowers/plans/2026-06-24-multi-panel-failover.md
Due: prettier --write

feat(db): service_provider_mappings + provider_order_attempts for failover
  prisma/migrations/20260625000000_add_failover_tables/migration.sql
  prisma/schema.prisma
Due: none

feat(providers): mapping + attempt repositories for failover
  src/modules/providers/__tests__/service-provider-mapping.repository.integration.test.ts
  src/modules/providers/provider-order-attempt.repository.ts
  src/modules/providers/service-provider-mapping.repository.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(outbox): order.fulfilment_exhausted event
  src/shared/outbox/events.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(orders): submitWithFailover engine (panel walk + attempt recording)
  src/modules/orders/__tests__/submit-with-failover.test.ts
  src/modules/orders/submit-with-failover.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(orders): guest settlement uses multi-panel failover; drop interim refund/email
  src/app.ts
  src/modules/billing/__tests__/order-payment-settlement.integration.test.ts
  src/modules/orders/__tests__/confirm-order-payment.flow.test.ts
  src/modules/orders/__tests__/orders.service.test.ts
  src/modules/orders/confirm-order-payment.flow.ts
  src/modules/orders/orders.service.ts
  src/modules/providers/index.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(notifications): admin alert on fulfilment-exhausted; drop customer failed email
  src/app.ts
  src/composition/outbox-handlers.ts
  src/modules/notifications/__tests__/admin-alert.handler.test.ts
  src/modules/notifications/handlers/admin-alert.handler.ts
  src/modules/notifications/handlers/order-email.handler.ts
  src/modules/notifications/index.ts
  src/modules/notifications/utils/email-templates.ts
  src/shared/config/env.ts
  src/shared/config/env.types.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(orders): logged-in order creation uses multi-panel failover
  src/modules/orders/__tests__/orders.service.test.ts
  src/modules/orders/create-order.flow.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

test(orders): real-DB failover integration (A fails→B; all-fail)
  src/modules/orders/__tests__/order-failover.integration.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(seed): create service_provider_mappings for seeded services
  prisma/seed.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(failover): order panels by admin-set provider.priority, not hardcoded mapping
  src/modules/orders/__tests__/order-failover.integration.test.ts
  src/modules/providers/__tests__/service-provider-mapping.repository.integration.test.ts
  src/modules/providers/service-provider-mapping.repository.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(admin): plan for per-service panel management UI
  docs/superpowers/plans/2026-06-25-service-panels-admin.md
Due: prettier --write

feat(providers): admin CRUD on service_provider_mappings + upsertPrimary
  src/modules/providers/__tests__/service-provider-mapping.repository.integration.test.ts
  src/modules/providers/service-provider-mapping.repository.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(admin): per-service panel ops + sync primary provider into a mapping
  src/composition/admin-services.ts
  src/modules/admin/__tests__/admin-services.service.test.ts
  src/modules/admin/admin-services.service.ts
  src/modules/admin/admin.types.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(admin): routes for service panel CRUD (+ reuse shared validators)
  src/modules/admin/admin.routes.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(admin): frontend API client + types + query-key for service panels
  frontend/src/lib/api/admin.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/constants/statuses.ts
  frontend/src/lib/query-keys.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(admin): per-service panels dialog with add/toggle/remove
  frontend/src/app/(admin)/admin/services/page.tsx
  frontend/src/components/admin/service-panel-add-form.tsx
  frontend/src/components/admin/service-panels-dialog.tsx
  frontend/src/components/admin/service-table.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

refactor(orders): depend on narrow ServicePanelReader port for failover
  src/modules/orders/confirm-order-payment.flow.ts
  src/modules/orders/create-order.flow.ts
  src/modules/orders/orders.service.ts
  src/modules/orders/submit-with-failover.ts
  src/modules/providers/index.ts
  src/modules/providers/service-provider-mapping.repository.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(catalog): server-side name search (cache-key aware)
  src/modules/catalog/__tests__/catalog.repository.test.ts
  src/modules/catalog/__tests__/catalog.service.test.ts
  src/modules/catalog/__tests__/catalog.types.test.ts
  src/modules/catalog/__tests__/fakes.ts
  src/modules/catalog/catalog.repository.ts
  src/modules/catalog/catalog.service.ts
  src/modules/catalog/catalog.types.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(frontend): query error states, URL-backed filters, debounced catalog search, cart prefill race
  frontend/src/app/(admin)/admin/deposits/page.tsx
  frontend/src/app/(admin)/admin/orders/page.tsx
  frontend/src/app/(admin)/admin/services/page.tsx
  frontend/src/app/(admin)/admin/users/page.tsx
  frontend/src/app/(dashboard)/billing/transactions/page.tsx
  frontend/src/app/(dashboard)/catalog/page.tsx
  frontend/src/app/(dashboard)/orders/page.tsx
  frontend/src/components/admin/service-table.tsx
  frontend/src/components/marketing/service-tiers.tsx
  frontend/src/components/shared/data-table.tsx
  frontend/src/components/shared/query-error.tsx
  frontend/src/hooks/use-catalog.ts
  frontend/src/hooks/use-debounced-value.ts
  frontend/src/hooks/use-url-param.ts
  frontend/src/lib/api/catalog.ts
  frontend/src/lib/auth/auth-context.tsx
  frontend/src/lib/landings/__tests__/use-cart.test.ts
  frontend/src/lib/landings/use-cart.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(frontend): validate money responses at the boundary + gate cart below-min
  frontend/src/components/marketing/cart-item.tsx
  frontend/src/components/marketing/order-cart.tsx
  frontend/src/lib/api/__tests__/validated.test.ts
  frontend/src/lib/api/billing.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/landings.ts
  frontend/src/lib/api/orders.ts
  frontend/src/lib/api/schemas.ts
  frontend/src/lib/landings/__tests__/use-cart.test.ts
  frontend/src/lib/landings/use-cart.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(seo): add technical SEO foundation — sitemap, robots, metadata, JSON-LD
  frontend/src/app/layout.tsx
  frontend/src/app/lp/[slug]/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/robots.ts
  frontend/src/app/sitemap.ts
  frontend/src/components/marketing/site-header.tsx
  frontend/src/lib/structured-data.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(blog): add blog engine models to Prisma schema
  prisma/schema.prisma
Due: none

feat(auth): move refresh token to an httpOnly cookie
  frontend/src/app/auth/google/callback/page.tsx
  frontend/src/lib/api/__tests__/client.test.ts
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/auth/__tests__/auth-context.test.tsx
  frontend/src/lib/auth/auth-context.tsx
  src/app.ts
  src/composition/register-routes.ts
  src/modules/auth/__tests__/auth.google.routes.test.ts
  src/modules/auth/__tests__/auth.routes.test.ts
  src/modules/auth/__tests__/auth.types.test.ts
  src/modules/auth/auth.routes.ts
  src/modules/auth/auth.types.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

style(app): drop a blank line to keep app.ts within the 300-line cap
  src/app.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(blog-engine): scaffold standalone SaaS product with Sites + Posts CRUD
  ROADMAP.md
  blog-engine/.env.example
  blog-engine/package.json
  blog-engine/prisma.config.ts
  blog-engine/prisma/schema.prisma
  blog-engine/prisma/seed.ts
  blog-engine/src/app.ts
  blog-engine/src/modules/posts/posts.repository.ts
  blog-engine/src/modules/posts/posts.routes.ts
  blog-engine/src/modules/posts/posts.service.ts
  blog-engine/src/modules/posts/posts.types.ts
  blog-engine/src/modules/sites/sites.repository.ts
  blog-engine/src/modules/sites/sites.routes.ts
  blog-engine/src/modules/sites/sites.service.ts
  blog-engine/src/modules/sites/sites.types.ts
  blog-engine/src/server.ts
  blog-engine/src/shared/config.ts
  blog-engine/src/shared/errors.ts
  blog-engine/src/shared/logger.ts
  blog-engine/tsconfig.json
  prisma/schema.prisma
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(blog-engine): add BYOS LLM abstraction and LLM settings API
  blog-engine/.env.example
  blog-engine/package-lock.json
  blog-engine/package.json
  blog-engine/prisma/schema.prisma
  blog-engine/src/ai/llm-client.ts
  blog-engine/src/modules/sites/sites.repository.ts
  blog-engine/src/modules/sites/sites.routes.ts
  blog-engine/src/modules/sites/sites.service.ts
  blog-engine/src/shared/config.ts
  blog-engine/tsconfig.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(blog-engine): add handoff spec for next session (iterations 3-4)
  blog-engine/HANDOFF.md
Due: prettier --write

fix(blog-engine): unblock boot — Prisma 7 align, missing enum/client, Fastify v5 logger
  blog-engine/.gitignore
  blog-engine/package-lock.json
  blog-engine/package.json
  blog-engine/prisma.config.ts
  blog-engine/prisma/migrations/20260626172722_init/migration.sql
  blog-engine/prisma/migrations/migration_lock.toml
  blog-engine/prisma/schema.prisma
  blog-engine/src/app.ts
  eslint.config.mjs
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(blog): youboost /blog list + article pages (iteration 3)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/revalidate/blog/route.ts
  frontend/src/app/blog/[slug]/page.tsx
  frontend/src/app/blog/layout.tsx
  frontend/src/app/blog/page.tsx
  frontend/src/app/sitemap.ts
  frontend/src/lib/blog/api.ts
  frontend/src/lib/blog/types.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(monorepo): convert to npm workspaces (frontend + blog-engine)
  blog-engine/package-lock.json
  blog-engine/src/app.ts
  frontend/package-lock.json
  knip.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(deps): upgrade all dependencies to latest (with 3 majors held back)
  blog-engine/package.json
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/src/app/(auth)/reset-password/page.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(monorepo): shared ESLint base for node services
  blog-engine/eslint.config.mjs
  blog-engine/package.json
  blog-engine/src/modules/sites/sites.service.ts
  eslint.base.mjs
  eslint.config.mjs
  knip.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(monorepo): shared tsconfig.base.json
  blog-engine/tsconfig.json
  frontend/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --write

chore(monorepo): package-aware pre-commit across all workspaces
  .husky/pre-commit
  .lintstagedrc.json
  frontend/package.json
Due: prettier --write

chore(blog-engine): share youboost Postgres (blog schema) + Redis
  blog-engine/.env.example
  blog-engine/prisma/seed.ts
  blog-engine/src/server.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests
